@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=DM+Sans:opsz@9..40&family=Poppins&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Assessment Page Form inputs styling */
input[type="radio"]:checked+.optionText{
    background-color: #000;
    color: #D9D9D9;
}

input[type="radio"]:hover+.optionText{
    background-color: #000;
    color: #D9D9D9;
}
