[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
coreapi = "==2.3.3"
pyyaml = "==5.1.2"
pandas = "*"
dj-rest-auth = "*"
django-allauth = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
